<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-5 col-xs-offset-5">
    <%=form_tag({controller: 'login', action:'update'}, {:class =>'form-signin', :id => 'change-email-form'}) do%>
      <h2 class="form-signin-heading">Enter a new password below</h2>   
      <p>
        <%=password_field_tag(:user_password, nil, :class =>'form-control', :placeholder => "Password")%>
        <span id = 'err-pass'></span>
      </p>

      <p>
        <%=password_field_tag(:rep_pass, nil, :class => 'form-control', :placeholder =>"Re-Enter Password") %>
        <span id = 'err-match'></span>
      </p>
      <div>
        <%= hidden_field_tag 'email', @tmp.email %>
      </div>
      <p><%=submit_tag("Save password and log in", :class =>"btn btn-lg btn-primary btn-block")%></p>
    <% end %>
  </div>
</div>
