.row
  .col-sm-4.col-sm-offset-4.col-xs-5.col-xs-offset-5
    = form_tag({controller: 'login', action:'update'}, {:class =>'form-signin', :id => 'change-email-form'}) do
      %h2.form-signin-heading Enter a new password below
      %p
        = password_field_tag(:user_password, nil, :class =>'form-control', :placeholder => "Password")
        %span#err-pass
      %p
        = password_field_tag(:rep_pass, nil, :class => 'form-control', :placeholder =>"Re-Enter Password")
        %span#err-match
      %div
        = hidden_field_tag 'email', @tmp.email
      %p= submit_tag("Save password and log in", :class =>"btn btn-lg btn-primary btn-block")