
.row
  .col-sm-4.col-sm-offset-4.col-xs-5.col-xs-offset-5
    = form_for @user, url: {:controller=>'login', action: 'create'}, html: { :class=> 'form-signin well ', :id=> 'signup'} do |f|
      %h2.form-signin-heading.align-center Sign up now
      %h4.align-center Never forget a password again!      
      %div{style: "color:red"}= flash[:notice]
      %p
        = f.text_field(:email, class: 'form-control email', placeholder: "Email address")
        %span#err-email
      %p
        = f.password_field(:password, class: 'form-control password', placeholder: "Password")
        %span#err-pass
      %p
        = password_field_tag(:rep_pass, nil, :class => 'form-control password', :placeholder =>"Re-enter Password")
        %span#err-match
      %p= submit_tag("Sign up", :class =>"btn btn-lg btn-danger btn-block")