%button.btn.btn-danger#btn-entry-back
  %span.glyphicon.glyphicon-chevron-left
  Back
%span.btn.btn-danger.btn-small#delete-entry{'data-entry-id' => @entry.id}
  %span.glyphicon.glyphicon-trash

= text_field_tag :edit_entry_date, Entry.american_date(@entry.date), class: 'form-control date-picker my-input'
.row.my-input
  .col-sm-1
    = label_tag :edit_entry_site, "Site:"
  .col-sm-11
    = select_tag :edit_entry_site, options_for_select((@user.sites.pluck(:name) rescue []), (@entry.site.name rescue 'No sites defined yet.')), class: 'form-control'
%table.table-striped
  - @categories.each do |c|
    %tr
      %td{style: 'font-weight:bold'}
        = c.name
      %td
        = max_value(c)
      %td
        = text_field_tag "#{c.ref}", recorded_hours(@entry, category: c.ref), placeholder: 'Hours', class: 'edit-entry-category form-control' if c.subcategories.count == 0 || c.ref == 2
    - c.subcategories.each do |sc|
      %tr
        %td{style:'padding-left:30px'}
          = sc.name
        %td
          = max_value(sc)
        %td
          = text_field_tag "#{c.ref}:#{sc.ref}", recorded_hours(@entry, subcategory: sc.ref), placeholder: 'Hours', class: 'edit-entry-subcategory form-control'
%button.btn.btn-success#submit-edit-entry{'data-entry-id' => @entry.id}
  Save
