#entry-form-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Enter your hours
      .modal-body.scroll
        = text_field_tag :entry_date, "#{Time.new.strftime("%m/%d/%Y")}", class: 'form-control date-picker my-input'
        .row.my-input
          .col-sm-1
            = label_tag :entry_site, "Site:"
          .col-sm-11
            = select_tag :entry_site, options_for_select((@user.sites.pluck(:name) rescue []), (@user.default_site.name rescue 'No sites defined yet.')), class: 'form-control'
        %table.table-striped
          - @categories.each do |c|
            %tr
              %td{style: 'font-weight:bold'}
                = c.name
              %td
                = max_value(c)
              %td
                = text_field_tag "#{c.ref}", '', placeholder: 'Hours', class: 'entry-category form-control' if c.subcategories.count == 0 || c.ref == 2
            - c.subcategories.each do |sc|
              %tr
                %td{style:'padding-left:30px'}
                  = sc.name
                %td
                  = max_value(sc)
                %td
                  = text_field_tag "#{c.ref}:#{sc.ref}", '', placeholder: 'Hours', class: 'entry-subcategory form-control'
        = label_tag :entry_note, 'Notes'
        = text_area_tag :entry_note, '', class: 'form-control my-input'
      .modal-footer
        %p.errors
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %button.btn.btn-primary.create-entry{type: "button"} Create Entry
