
%button#btn-back-all-sites.btn.btn-warning 
  &lt; Back

%h3 Site
= text_field_tag :site_name, '', placeholder: 'Name', class: 'form-control'
= text_field_tag :site_address, '', placeholder: 'Address', class: 'form-control'
= text_field_tag :site_phone, '', placeholder: 'Phone', class: 'form-control'

%h3 Supervisor
= text_field_tag :sup_name, '', placeholder: 'Name', class: 'form-control'
= text_field_tag :sup_phone, '', placeholder: 'Phone', class: 'form-control'
= text_field_tag :sup_email, '', placeholder: 'Email', class: 'form-control'
= text_field_tag :sup_license_state, '', placeholder: 'License State', class: 'form-control'
= text_field_tag :sup_license_type, '', placeholder: 'License Type', class: 'form-control'
= text_field_tag :sup_license_number, '', placeholder: 'License Number', class: 'form-control'

%button#btn-save-site.btn.btn-success
  Save
