.progress
  .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{}", role: "progressbar", style: "width: #{@user.progress}%"}
.well
  - if @user.hours < 3000
    = "You're #{@user.progress}% to your goal! #{@user.hours} out of 3000 hours complete. Only #{3000 - @user.hours} hours to go!"
  - else
    = "YOU DID IT!!! You're at #{@user.hours}, now go get that license!"