%button.btn.btn-default#btn-edit-entry
  Edit
%table.table-striped
  %tr
    %th Category
    %th Requirement
    %th Recorded Hours
    %th Valid Hours
  - @entry.user_hours.select{|h| !!h.category}.each do |uh|   
    %tr
      %td
        %b= uh.category.name
      %td
        = max_value(uh.category)
      %td
        = uh.recorded_hours 
      %td
        = uh.valid_hours 
    - @entry.user_hours.select{|h| !!h.subcategory && h.subcategory.category.ref == uh.category.ref}.each do |sub|
      %tr
        %td{style: 'padding-left: 20px'}
          = sub.subcategory.name
        %td
          = max_value(sub.subcategory)
        %td
          = sub.recorded_hours 
        %td
          = sub.valid_hours 
