.row
  .col-sm-3
    %h1 Welcome #{@user.first_name || 'User'}!
  .col-sm-9
    .pull-right
      %a{href:'#', "data-target" => "#user-info-modal", "data-toggle" => "modal"}
        Tell me a bit about yourself
.row
  .col-sm-8
    .progress-container
      = render 'progress'

  .col-sm-4
    %button.btn.btn-primary.btn-lg{"data-target" => "#entry-form-modal", "data-toggle" => "modal"}
      Add Hours
    %button.btn.btn-warning.btn-lg{"data-target" => "#manage-sites-modal", "data-toggle" => "modal"}
      Manage Sites
.row
  .col-sm-12
    #calendar

/Render hidden modals 

= render 'new_entry'

= render 'user_info_modal'

= render 'manage_sites_modal'

= render 'manage_entries'
      
        
        
        
        