.hidden{'data-private_token' => @user.private_token}
.row
  .col-sm-3
    %h1 Welcome #{@user.first_name || 'User'}!
  .col-sm-9
    .pull-right
      %a{href:'#', "data-target" => "#user-info-modal", "data-toggle" => "modal"}
        Tell me a bit about yourself
.row
  .col-sm-8
    .progress-container
      = render 'progress'

  .col-sm-4
    .row
      .col-sm-12
        %button.btn.btn-primary.btn-lg{"data-target" => "#entry-form-modal", "data-toggle" => "modal", style: 'width:100%'}
          Add Hours
    %div{style: 'margin-top:10px'}
    .row
      .col-sm-12
        .btn-group{style: 'width: 100%'}
          %button.btn.btn-default.btn-lg{"data-target" => "#manage-sites-modal", "data-toggle" => "modal", style: 'width:50%'}
            Manage Sites

          %button.btn.btn-default.btn-lg{"data-target" => "#forms-modal", "data-toggle" => "modal", style: 'width:25%'}
            Forms
          %button.btn.btn-default.btn-lg{"data-target" => "#totals-modal", "data-toggle" => "modal", style: 'width:25%'}
            Totals

.row
  .col-sm-12
    #calendar

/Render hidden modals 

= render 'new_entry'

= render 'user_info_modal'

= render 'manage_sites_modal'

= render 'manage_entries'

= render 'forms_modal'

= render 'totals_modal'
      
        
        
        
        
