<!DOCTYPE html>
<html>
<head>
  <title>PassWeb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 70px">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- <a class="navbar-brand" href="#">PassWeb</a> -->
        <%= link_to(image_tag(image_path("main-logo.png"), height: '50'), 
        		{:controller => 'profile', :action => 'index'}) %>

      </div>
      <div class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <% if session[:user_id] %>
              <%= link_to('Log Out', {:controller => 'login', :action => 'logout'}, :class => 'btn btn-danger') %>
            <% else %>
              <%= link_to('Log In', {:controller => 'login', :action => 'index'}, :class => 'btn btn-success') %>
            <% end %>
          </div>
        </div><!--/.navbar-collapse -->
      
    </div>
  </div>

<div class="container">
<div class="buffer"></div>
<%= yield %>
</div>

</body>
</html>
